@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.rbi {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.rbi img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* =============================HEADER================================= */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 35px;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translate3d(-50%, 0px, 0px);
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  margin: 0 37.5px 0 37.5px;
}
.menu__list li:nth-child(2) {
  margin: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  margin: 0 37.5px 0 110px;
}
.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  z-index: 20;
  position: absolute;
  right: -37.5px;
  top: 50%;
  margin: -1px 0px 0px 0px;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu__link:hover {
  color: black;
}

.icon-menu {
  position: absolute;
  top: 24px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.icon-menu span {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #4d4959;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
.icon-menu span:nth-child(1) {
  top: 0px;
}
.icon-menu span:nth-child(2) {
  top: 10px;
}
.icon-menu span:nth-child(3) {
  top: 20px;
}
.icon-menu__bar {
  transform-origin: left;
}

/* =============================Mobile MENU================================= */
@media (max-width: 767px) {
  .menu__icon {
    display: flex;
    z-index: 5;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 150px 0 0 0;
    background-color: #4d4959;
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list li {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    right: 49.5%;
    margin: 7px 0px 0px 0px;
    background-color: azure;
  }
  .menu__list li:nth-child(4) {
    padding: 0px 0px 0px 0px;
  }
  .menu__link {
    font-size: 20px;
    color: azure;
  }
  .icon-menu.active span {
    background-color: azure;
  }
  .icon-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
  }
  .icon-menu.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .icon-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 4px;
  }
}
/* =============================MAIN-SCREEN================================= */
.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  width: 100%;
  height: 100%;
}

/* =============================CONTENT================================= */
/* =============================NEWGEN================================= */
.newgen {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 30px 0;
}
.block__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0 0 19px 0;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
.block__text_b {
  text-align: justify;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
}
.block__text_b::after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
}
@media (max-width: 1500px) {
  .block__text_b::after {
    margin: 15px auto 0px auto;
  }
}

@media (max-width: 900px) {
  .newgen {
    padding: 50px 0;
  }
}
/* =============================BRAND================================= */
.brand__preview {
  display: flex;
}
.brand__preview_rev {
  flex-direction: row-reverse;
}
.brand__column {
  flex: 0 1 33.32%;
}
.brand__column_b {
  position: relative;
  flex: 0 1 66.68%;
}
.brand__about {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brand__about::after {
  z-index: 60;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brand__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  width: 100%;
  height: 100%;
  display: block;
}
.item__logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(100, 194, 158, 0.8);
  transition: opacity 0.4s linear;
}
.item__logo:hover {
  opacity: 1;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .brand__about {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brand__preview {
    flex-direction: column;
  }
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}
/* =============================FOOTER================================= */