@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.rbi {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.rbi img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
  text-align: center;
}

/* =============================HEADER================================= */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 35px;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translate3d(-50%, 0px, 0px);
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  margin: 0 37.5px 0 37.5px;
}
.menu__list li:nth-child(2) {
  margin: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  margin: 0 37.5px 0 110px;
}
.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  z-index: 20;
  position: absolute;
  right: -37.5px;
  top: 50%;
  margin: -1px 0px 0px 0px;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu__link:hover {
  color: black;
}

.icon-menu {
  position: absolute;
  top: 24px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.icon-menu span {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #4d4959;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
.icon-menu span:nth-child(1) {
  top: 0px;
}
.icon-menu span:nth-child(2) {
  top: 10px;
}
.icon-menu span:nth-child(3) {
  top: 20px;
}
.icon-menu__bar {
  transform-origin: left;
}

/* =============================Mobile MENU================================= */
@media (max-width: 767px) {
  .menu__icon {
    display: flex;
    z-index: 5;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 150px 0 0 0;
    background-color: #4d4959;
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list li {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    right: 49.5%;
    margin: 7px 0px 0px 0px;
    background-color: azure;
  }
  .menu__list li:nth-child(4) {
    padding: 0px 0px 0px 0px;
  }
  .menu__link {
    font-size: 20px;
    color: azure;
  }
  .icon-menu.active span {
    background-color: azure;
  }
  .icon-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
  }
  .icon-menu.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .icon-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 4px;
  }
}
/* =============================MAIN-SCREEN================================= */
.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  width: 100%;
  height: 100%;
}

/* =============================CONTENT================================= */
/* =============================NEWGEN================================= */
.newgen {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 30px 0;
}
.block__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0 0 19px 0;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
.block__text_b {
  text-align: justify;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
}
.block__text_b::after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
}
@media (max-width: 1500px) {
  .block__text_b::after {
    margin: 15px auto 0px auto;
  }
}

@media (max-width: 900px) {
  .newgen {
    padding: 50px 0;
  }
}
/* =============================BRAND================================= */
.brand__preview {
  display: flex;
}
.brand__preview_rev {
  flex-direction: row-reverse;
}
.brand__column {
  flex: 0 1 33.32%;
}
.brand__column_b {
  position: relative;
  flex: 0 1 66.68%;
}
.brand__column_s {
  position: relative;
  flex: 0 1 33.32%;
}
.brand__about {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brand__about::after {
  z-index: 60;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brand__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  width: 100%;
  height: 100%;
  display: block;
}
.item__logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(100, 194, 158, 0.8);
  transition: opacity 0.4s linear;
}
.item__logo:hover {
  opacity: 1;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .brand__about {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brand__preview {
    flex-direction: column;
  }
  .brand__preview_rev {
    flex-direction: column-reverse;
  }
  .brand__column_1 {
    order: 2;
  }
  .brand__column_2 {
    order: 1;
  }
  .brand__column_3 {
    order: 3;
  }
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}
/* =============================SLIDER================================= */
.testim {
  background-color: #f7f7f7;
}
.testim__swiper-container {
  padding: 123px 40px 68px 40px;
}
.testim__slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testim__social-icon {
  margin: 0 0 35px 0;
}
.testim__title {
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.testim__title span {
  font-weight: 300;
  color: #848789;
}
.testim__text {
  margin: 0 0 100px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-align: center;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: rgba(40, 47, 53, 0);
  border: 1px solid #a9afb3;
}
.swiper-pagination-bullet-active {
  background-color: #a9afb3;
}

/* =============================SHOP================================= */
.shop__body {
  display: flex;
}
.shop__column_b {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.shop__column_s {
  flex: 0 1 16.666%;
  padding: 0 0 33.3% 0;
  position: relative;
}
.shop__floor_double {
  flex: 0 1 50%;
  display: flex;
}
.shop__floor_single {
  flex: 0 1 50%;
  position: relative;
}
.shop__item_s {
  flex: 0 1 50%;
  position: relative;
}
.shop__link {
  padding: -1px 0 0 0;
}
.shop__footer {
  background-color: #282f35;
}
.shop__footer .shop__button {
  display: inline-block;
  width: 300px;
  height: 50px;
  background-color: #282f35;
  border: 1px solid #93979a;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 75px 0 75px 0;
  transition: background-color 0.7s ease-out;
}
@media (max-width: 510px) {
  .shop__footer .shop__button {
    margin: 45px 0 45px 0;
    width: 250px;
  }
}
.shop__footer .shop__button:hover {
  background-color: #fff;
  color: #282f35;
}

.item__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 10px 0 0 0;
}

@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__column_b {
    flex: 0 1 100%;
  }
  .shop__column_s {
    flex: 0 1 50%;
    padding: 0 0 64.3% 0;
  }
  .shop__link {
    padding: 0 0 50% 0;
  }
  .shop__link_s {
    padding: 0 0 100% 0;
  }
  .shop__link_t {
    padding: 0 0 70% 0;
  }
}
/* =============================NEWSLETTER================================= */
.newsletter__body {
  padding: 100px 0 100px 0;
  max-width: 534px;
  margin: 0 auto;
}
.newsletter__logo {
  margin: 0 0 38px 0;
}
.newsletter__text {
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.newsletterform {
  display: flex;
  justify-content: center;
}
.newsletterform p:nth-child(1) {
  width: 100%;
  padding: 0 8px 0 0;
}
.newsletterform__mail {
  width: 100%;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  margin: 0 0 8px 0;
  padding: 0 25px 0 25px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.newsletterform__submit {
  min-width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.7s ease-out;
}
.newsletterform__submit:hover {
  background-color: #3c7861;
}
@media (max-width: 500px) {
  .newsletterform {
    flex-wrap: wrap;
  }
  .newsletterform p {
    width: 100%;
  }
  .newsletterform__submit {
    width: 100%;
  }
  .newsletterform p:nth-child(1) {
    padding: 0 0 0 0;
  }
}

.focus {
  color: #353738;
}

/* =============================FOOTER================================= */
.footer {
  background-color: #f7f7f7;
}
.footer__body {
  max-width: 1106px;
  margin: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__addresscolumn {
  text-align: left;
  flex: 0 1 33.333%;
}
.footer__addresscolumn p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}
.footer__addresscolumn p:nth-child(2), .footer__addresscolumn p:nth-child(3) {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 600px) {
  .footer__body {
    flex-direction: column;
  }
  .footer__addresscolumn {
    text-align: center;
  }
  .footer__socialscolumn {
    margin: 15px 0;
  }
}

.socials {
  display: flex;
  flex: 0 1 33.333%;
  justify-content: center;
  max-height: 35px;
}
.socials__facebook {
  margin: 0 15px;
}

.madeby {
  display: flex;
  flex: 0 1 33.333%;
  justify-content: flex-end;
}
.madeby__text {
  min-width: 88.2px;
  margin: 0 10px 0 0;
  padding: 8px 0 0 0;
  display: inline-block;
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}